version: '3.8'

services:
  nuxt:
    build:
      context: ./nuxt
    container_name: nuxt-app
    ports:
      - "3000:3000"
    volumes:
      - ./nuxt:/app
    command: npm run dev -- --host 0.0.0.0

    depends_on:
      - php
    networks:
      - app-net

  nginx:
    image: nginx:1.21.1
    container_name: nginx-app
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www
    depends_on:
      - php
    networks:
      - app-net

  php:
    build: ./docker/php
    ports:
      - "8000:8000"
    container_name: php-app
    volumes:
      - ./src:/var/www
    networks:
      - app-net

  mysql:
    image: mysql:8.0.26
    container_name: mysql-app
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - app-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-app
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: mysql
      PMA_USER: laravel_user
      PMA_PASSWORD: laravel_pass
    depends_on:
      - mysql
    ports:
      - "8080:80"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
